.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop{
    display: flex;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.messageText .owner{
    font-weight: bold;
    font-size: 12px;
    color: rgb(230, 233, 50);
}

.messageBottom{
    font-size: 12px;
    margin-bottom: 10px;  
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
}

.message.own .messageText .owner{
    display: none;
    overflow: hidden;
}

.noChat{
    position: absolute;
    top : 10%;
    left: 50%;
    font-size : 50px;
    color: darkgrey;
}
.dropdown{
    position: relative;
 }

 .dropdown-content{
    left: 100px;
    
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 20%;
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    list-style: none;
    margin: 5px;
 }

 .dropdown:hover .dropdown-content{
    display: block;
    float: left;
    color: #1877f2;
 }



.dropdown-own{
    position: relative;
 }

.dropdown-content-own{
    right: 80px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 20%;
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    list-style: none;
 }

.dropdown-own:hover .dropdown-content-own{
    display: block;
    float: left;
    color: #1877f2;
 }
 